@font-face {
  font-family: test;
  src: url("../src/assets/fonts/PlayfairDisplay-Italic.ttf");
}

@font-face {
  font-family: inter;
  src: url("../src/assets/fonts/Inter-VariableFont_opsz\,wght.ttf");
}
@import "tailwindcss";

@theme {
  --font-test: test, "sans-serif";
}

@theme {
  --font-inter: inter, "sans-serif";
}


